[submodule "quotes-app"]
	path = quotes-app
	url = https://github.com/valeshgopal/quotes-app.git
[submodule "slider-bgcolor"]
	path = slider-bgcolor
	url = https://github.com/valeshgopal/slider-bgcolor.git
[submodule "newyear-countdown-timer"]
	path = newyear-countdown-timer
	url = https://github.com/valeshgopal/newyear-countdown-timer.git
[submodule "faq-accordion"]
	path = faq-accordion
	url = https://github.com/valeshgopal/faq-accordion.git
[submodule "guess-my-number"]
	path = guess-my-number
	url = https://github.com/valeshgopal/guess-my-number.git
[submodule "progress-steps"]
	path = progress-steps
	url = https://github.com/valeshgopal/progress-steps.git
[submodule "expanding-cards"]
	path = expanding-cards
	url = https://github.com/valeshgopal/expanding-cards.git
[submodule "hover-board"]
	path = hover-board
	url = https://github.com/valeshgopal/hover-board.git
[submodule "random-image-feed"]
	path = random-image-feed
	url = https://github.com/valeshgopal/random-image-feed.git
[submodule "detect-pressed-key"]
	path = detect-pressed-key
	url = https://github.com/valeshgopal/detect-pressed-key.git
[submodule "input-label-animation"]
	path = input-label-animation
	url = https://github.com/valeshgopal/input-label-animation.git
[submodule "find-your-location"]
	path = find-your-location
	url = https://github.com/valeshgopal/find-your-location.git
[submodule "text-to-speech-converter"]
	path = text-to-speech-converter
	url = https://github.com/valeshgopal/text-to-speech-converter.git
[submodule "circular-progress-bar"]
	path = circular-progress-bar
	url = https://github.com/valeshgopal/circular-progress-bar.git
[submodule "draggable-div"]
	path = draggable-div
	url = https://github.com/valeshgopal/draggable-div.git
