[submodule "quotes-app"]
	path = quotes-app
	url = https://github.com/valeshgopal/quotes-app.git
[submodule "slider-bgcolor"]
	path = slider-bgcolor
	url = https://github.com/valeshgopal/slider-bgcolor.git
[submodule "newyear-countdown-timer"]
	path = newyear-countdown-timer
	url = https://github.com/valeshgopal/newyear-countdown-timer.git
[submodule "faq-accordion"]
	path = faq-accordion
	url = https://github.com/valeshgopal/faq-accordion.git
[submodule "guess-my-number"]
	path = guess-my-number
	url = https://github.com/valeshgopal/guess-my-number.git
[submodule "progress-steps"]
	path = progress-steps
	url = https://github.com/valeshgopal/progress-steps.git
[submodule "expanding-cards"]
	path = expanding-cards
	url = https://github.com/valeshgopal/expanding-cards.git
[submodule "hover-board"]
	path = hover-board
	url = https://github.com/valeshgopal/hover-board.git
